.nav-item {
    font-size: 17px;

    a {
        transition: color 0.3s linear;
        -webkit-transition: color 0.3s linear;
        -moz-transition: color 0.3s linear;
        color: #757474 !important;
        font-family: $mulish;
        font-weight: 600;
        letter-spacing: -1px;
        font-size: 20px;
    }
}
