body {
    font-family: $mulish !important;
}

.hero {
    height: 80vh;
    background: linear-gradient(45deg, rgba(255,175,189,.7), rgba(100,216,243,.7), rgba(234,236,198,.7), rgba(245,146,176,.7), rgba(52,219,216,.7)) 0 0 / 1000% no-repeat, url(https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 0 0 / cover no-repeat;
    -webkit-animation: gradientAnimation 40s ease infinite;
    animation: gradientAnimation 40s ease infinite;

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: #fff;
        text-align: center;
        white-space: nowrap;
        font-family: $mulish !important;
        letter-spacing: -1px;
        font-weight: 900;
        text-shadow: 1px 1px black;
    }
    h1 span {
        display: block;
        margin-top: 1em;
        font-size: 40px;
        font-weight: 300;
        font-family: 'Raleway', sans-serif !important;
    }

}
@-webkit-keyframes gradientAnimation {
    0%   { background-position: 0% 30%, 0 0;}
    50%  { background-position: 100% 70%, 0 0;}
    100% { background-position: 0% 30%, 0 0;}
}
@keyframes gradientAnimation {
    0%   { background-position: 0% 30%, 0 0;}
    50%  { background-position: 100% 70%, 0 0;}
    100% { background-position: 0% 30%, 0 0;}
}

.about-us {
    background-color: white;
    padding: 100px;

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.goals {
    background-color: #dedbdb;
    padding: 100px;

    h3 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #ffd7d9 !important;
    color: white !important;
    border-color: #ffd7d9 !important;
}
.pagination > li > a,
.pagination > li > span {
    color: black !important;
}

.btn-success {
    background-color: #cb9699 !important;
    border-color: #cb9699 !important;
}

.btn-danger {
    background-color: #ff6961 !important;
    border-color: #ff6961 !important;
}

.btn-primary {
    background-color: #cb9699 !important;
    border-color: #cb9699 !important;
    font-family: 'Raleway', sans-serif;
    font-weight: 900 !important;
    font-size: 25px !important;
}

